<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Employded.Properties.Settings.Employes_ViewConnectionString"
            connectionString="Data Source=DESKTOP-8MJSR08\SQLEXPRESS01;Initial Catalog=Employes_View;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>